*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing:border-box;
}
.hero{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), #3ECA78), url(formbackground122313123.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

::placeholder {
    color: #fff;
    opacity: 1;
}
form{
    width:90%;
    max-width: 1000px;
    align-items: center;
    text-align: center;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 40%;
    max-height: auto;
    margin-left: 600px;
    align-items: center;
}

form input, .fix_button {
    width: 1000px;
    margin: 10px;
    
}

.fix_button {
    display: flex;
}

select option {
    margin: 40px;
    background: #3ECA78;
    color: #fff;
  }


.input-group{
    position: relative;
    align-items: center;

}
input,textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}
label{
height: 100%;
position: absolute;
left: 0;
top: 0;
padding: 10px;
color:#fff;
cursor: text;
}
button{
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 1000px;
    cursor: pointer;
    align-items: center;
    margin-left: 420px;
}

select {
    height: 100px;
    outline: 0;
    flex: 1;
    color: #fff;
    cursor:pointer;
    font-size: 1.1em;
    width: 1000px;
    border: 1px solid #fff;
    background-color: transparent;
 }

h4, h3 {
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
}

select option:hover {
    background: #BF2CDF;
}
 
 select::-ms-expand {
    display: none;
 }

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  .navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
  #navbar__logo {
    background: #12c2e9;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #3ECA78, #BF2CDF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #AD41D0, #3ECA78);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }

.services {
    background: #131313;
}
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
.section {
    background: black;
    color: #fff;
}
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3ECA78, #BF2CDF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #AD41D0, #3ECA78);
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    background: #12c2e9;  /* fallback for old browsers */
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .navbar__links:hover {
    color: #12c2e9;
    transition: all 0.3s ease;
  }


.logo {
    width: 80px;
    height: 80px;
}